[project]
	description = Testing of Github repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DillipKumarRepository
[access "refs/for/refs/*"]
	read = group user/DillipKumarRepository
	push = group user/DillipKumarRepository
	label-Code-Review = -2..+2 group user/DillipKumarRepository
	label-Verified = -1..+1 group user/DillipKumarRepository
	rebase = group user/DillipKumarRepository
	removeReviewer = group user/DillipKumarRepository
	submit = group user/DillipKumarRepository
[access "refs/heads/*"]
	read = group user/DillipKumarRepository
	create = group user/DillipKumarRepository
	push = +force group user/DillipKumarRepository
	pushMerge = group user/DillipKumarRepository
[access "refs/tags/*"]
	push = +force group user/DillipKumarRepository
	pushTag = group user/DillipKumarRepository
	pushSignedTag = group user/DillipKumarRepository
